li {
    padding: 5px;
    margin: 5px;
    background: black;
    color: white;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: red;
  }
  
  .form-group {
    margin-bottom: 5px;
  }