body {
  background-color: rgb(236, 228, 104);
}

h1,
h2 {
  font-family:'Josefin Sans', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}
